<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WpfApp1.Properties.Settings.ConnectionString" connectionString="character set=WIN1252;data source=localhost;initial catalog=C:\Users\Usuario\Desktop\Basenova\CLIPP.FDB;user id=sysdba;Password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="WpfApp1.Properties.Settings.basenova" connectionString="character set=WIN1252;initial catalog=C:\Users\Usuario\Desktop\Basenova\CLIPP.FDB;data source=localhost;user id=sysdba;Password=masterkey"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WpfApp1.Properties.Settings>
            <setting name="FDBConnString" serializeAs="String">
                <value>data source=localhost;initial catalog=C:\Users\Usuario\Desktop\CLIPP_TESTE.FDB;user id=SYSDBA;password=masterkey;charset=WIN1252</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerCatalog" serializeAs="String">
                <value>C:\Users\Usuario\Desktop\Basenova\CLIPP.FDB</value>
            </setting>
        </WpfApp1.Properties.Settings>
    </userSettings>
</configuration>